$bg1: #151515;
$bg2: #1b1b1c;
$font: #dfdfdf;
$github: #7b34b6;
$grayish: #b0b0b0;
$accent: #628eff;

$bigScreen: 960px;

@mixin button-gradient($bg, $bg2: $bg) {
  background: linear-gradient(0deg, $bg2 0%, $bg 100%);

  &:hover {
    background: linear-gradient(
      0deg,
      lighten($color: $bg2, $amount: 4) 0%,
      lighten($color: $bg, $amount: 4) 100%
    );
  }

  &:active {
    background: darken($color: $bg, $amount: 10);
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}

body {
  background-color: $bg1;
  color: $font;
  overflow-x: hidden;
  width: 100%;

  font-size: Min(4vw, 46px);
  @media (max-width: $bigScreen) {
    font-size: 7vw;
  }
  @media (max-width: 600px) {
    font-size: 10.5vw;
  }
}

#language {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0.8em;

  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }
}

.github {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;

  text-decoration: none;

  img {
    width: 0.45em;
    margin-right: 0.12em;
  }

  i {
    font-size: 0.4em;
    color: $github;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
    i {
      color: lighten($color: $github, $amount: 10);
    }
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  color: black;
  border-radius: 0.7em;
  white-space: nowrap;
  padding: 0.5em 1.4em;
  font-weight: bold;
  font-size: 0.34em;
  margin: 0 0.6em;
  width: 10em;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }

  @include button-gradient(#dddddd);
  &:nth-of-type(1) {
    @include button-gradient(#628eff);
  }
}

header {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .call-to-arms {
    margin-top: 0.6em;
    user-select: none;
    display: flex;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      margin-top: 1.3em;
      .button {
        font-size: 0.48em;
        margin-bottom: 1em;
      }
    }
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url("gfx/background.jpg");
    filter: blur(1px);
    background-size: auto calc(var(--vh, 1vh) * 100);
    @media (min-width: $bigScreen) {
      background-size: 100% 100%;
    }
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  h1,
  h2,
  h3 {
    user-select: none;
    font-weight: 300;
  }

  h1 {
    font-size: 0.86em;
    b {
      color: $accent;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 0.58em;
    margin-bottom: 0em;
  }

  h3 {
    margin-top: 0.15em;
    font-size: 0.35em;
    font-style: italic;

    b {
      @keyframes fade {
        from {
          opacity: 1;
        }
        75% {
          opacity: 1;
        }
        95% {
          opacity: 0;
        }
        to {
          opacity: 0;
        }
      }

      animation: fade 2.5s linear 1s infinite alternate;
    }
  }
}

.stack-header {
  display: flex;
  margin-top: 1.2em;
  margin-bottom: 0.8em;

  h2 {
    font-size: 1em;
    margin-left: 0.4em;
    color: $grayish;
  }

  .icon {
    width: 1.2em;
  }
}

.stack-techs {
  display: flex;
  flex-wrap: wrap;

  .tech {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    margin-bottom: 0.6em;

    > img {
      width: 1.6em;
    }
    > p {
      margin-left: 0.5em;
      font-style: normal;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}

section {
  box-sizing: border-box;
  width: 100vw;
  // height: 100vh;
  padding: Min(10vw, 80px) 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  overflow: hidden;

  @media (min-width: $bigScreen) {
    &:nth-of-type(odd) .display {
      flex-direction: row-reverse;

      .display-content {
        padding-left: 4%;
      }
    }
  }

  .display {
    width: Min(80vw, 1200px);
    display: flex;

    @media (max-width: $bigScreen) {
      flex-direction: column;

      &:nth-child(2n) {
        flex-direction: column-reverse;
      }
    }

    .display-content {
      flex: 1;

      font-size: Min(0.4em, 20px);

      &:nth-child(2n) {
        padding-top: 1em;
      }
      &:nth-child(2n + 1) {
        padding-bottom: 1em;
      }

      @media (min-width: $bigScreen) {
        &:nth-child(2n) {
          padding-top: 0;
          padding-left: 4%;
        }
        &:nth-child(2n + 1) {
          padding-bottom: 0;
          padding-right: 4%;
        }
      }

      > h1 {
        font-size: 1.6em;
        margin-bottom: 6px;
        color: $accent;
        font-weight: bold;
        font-style: italic;
      }

      > p {
        font-size: 0.8em;
        font-weight: 300;
        font-style: italic;
        line-height: 1.3em;
      }
    }

    .display-image {
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      border: 1px solid black;
      display: flex;

      @media (min-width: $bigScreen) {
        width: 65%;
      }

      img {
        flex: 0;
        position: relative;
        width: 100%;
        height: auto;
      }
    }

    .vertical-collection {
      display: flex;

      @media (min-width: $bigScreen) {
        width: 45%;
      }

      .display-vertical:nth-child(2n + 1) {
        margin-right: 20px;
      }
    }

    .display-vertical {
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      flex: 1;
      border: 1px solid black;

      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }

  &:nth-child(2n) {
    background-color: $bg2;
  }
}

#aboutme {
  padding: 1em 0;

  .display {
    @media (max-width: $bigScreen) {
      flex-direction: column-reverse;
      margin: 0;

      .info {
        margin-bottom: 0.3em;
      }

      .display-content {
        padding: 0;
      }
    }
  }

  .info {
    display: flex;
    flex: 1;

    .frame {
      @media (min-width: $bigScreen) {
        width: 40%;
        height: Min(auto, 100px);
      }

      margin-right: 0.4em;

      img {
        width: 100%;
        height: auto;
        border-radius: 6px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        align-items: center;
        color: $accent;
        font-size: 0.45em;
        font-style: italic;
        font-weight: bold;

        img {
          width: 1.2em;
          margin-right: 0.3em;
        }

        margin-bottom: 0.15em;
      }

      p {
        color: #fff;
        font-size: 0.35em;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 0.6em;

        a {
          color: #fff;
        }
      }
    }
  }
}

.tryit {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  a {
    font-size: 1em;
    color: $github;
    font-weight: bold;
  }
  img {
    width: 1.4em;
    margin-right: 0.35em;
  }
}
