---
import "global.css";

import HeroSection from "@/components/Hero.astro";
import Footer from "@/components/Footer.astro";
import Body from "@/components/Body.astro";
---

<html lang="en">
  <head>
    <title>Szymon Miśtal</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Personal website of szymmis (Szymon Miśtal) presenting various personal projects."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.documentElement.style.scrollBehavior = "smooth";
      });
    </script>
  </head>
  <body class="flex flex-col items-center justify-center bg-background">
    <HeroSection />
    <Body />
    <Footer />
  </body>
</html>
