---
import Paragraph from "@/components/Paragraph.astro";
import SecondaryButton from "@/components/SecondaryButton.astro";
---

<div class="pt-6 -mt-6">
  <h2 class="mb-4 text-4xl text-primary">About me</h2>

  <Paragraph>
    Learning stuff broadens thinking. Work teaches some, but there's more out
    there. It might seem like you only need to know what you are using daily,
    but unused knowledge still shapes how we think. I like learning and doing
    fun projects in my free time — like creating a game kernel. It might not pay
    the bills, but understanding how things work deep down boosts confidence in
    what I do daily. Appreciating the tools we have is crucial, but I focus on
    understanding concepts rather than specific technologies; tech changes,
    concepts stick.
  </Paragraph>
</div>
