---
import ThemedImage from "@/components/ThemedImage.astro";
import GithubIcon from "@/icons/Github.astro";
import GithubAvatar from "@/assets/avatar.jpeg";
---

<div class="relative w-[320px] h-[320px] group">
  <a href="https://github.com/szymmis" aria-label="Visit my GitHub repository">
    <ThemedImage
      src={GithubAvatar}
      alt="GitHub profile avatar"
      class="overflow-hidden rounded-full"
    />

    <span
      class="absolute rounded-full text-primary bg-background right-7 bottom-7"
    >
      <GithubIcon />
    </span>
  </a>
</div>
