---
import AboutMeSection from "@/components/AboutMeSection.astro";
import ProjectsSection from "@/components/ProjectsSection.astro";
---

<div class="w-10/12 xl:w-[1024px] py-6 xl:py-12 space-y-6">
  <AboutMeSection />
  <ProjectsSection />
</div>
