<footer
  class="flex items-center text-sm xl:text-base justify-center w-full h-20 bg-background-dark"
>
  <p class="inline-flex flex-col text-center sm:flex-row text-primary">
    <span class="sm:after:content-['•'] after:pr-1">
      Designed in
      <a class="font-bold hover:underline" href="https://figma.com" class="">
        Figma
      </a>
       and developed using
      <a class="font-bold hover:underline" href="https://astro.build">Astro</a>
    </span>
    <span>Szymon Miśtal 2023</span>
  </p>
</footer>
