<footer class="flex items-center justify-center w-full h-20 bg-background-dark">
  <p class="text-primary">
    Designed in <a class="font-bold hover:underline" href="https://figma.com"
      >Figma</a
    >
     and developed using <a
      class="font-bold hover:underline"
      href="https://astro.build">Astro</a
    >
     • Szymon Miśtal 2023
  </p>
</footer>
