---
import Avatar from "@/components/Avatar.astro";
import PrimaryButton from "@/components/PrimaryButton.astro";
import SecondaryButton from "@/components/SecondaryButton.astro";
---

<div class="flex flex-row justify-between items-center h-screen select-none">
  <div>
    <h3 class="text-primary text-5xl">Hi, I'm</h3>
    <h1 class="text-primary text-[90px] -mt-8 -mb-2">Szymon Miśtal</h1>
    <h2 class="text-tetriary text-5xl">Fullstack Developer</h2>

    <div class="mt-8 space-x-4 flex items-center">
      <PrimaryButton label="See my work" href="#" />
      <SecondaryButton label="Get my resume" href="cv.pdf" />
    </div>
  </div>

  <Avatar />
</div>
