---
import ArrowIcon from "@/icons/Arrow.astro";
import clsx from "clsx";

interface Props {
  label: string;
  href?: string;
}

const { label, href } = Astro.props;

const styles =
  "rounded-xl text-background font-bold bg-primary hover:bg-secondary py-2.5 px-4 active:translate-y-0.5 transition-all";
---

{
  href ? (
    <a href={href}>
      <button class={clsx(styles, "flex group items-center")}>
        <span class="mr-2 transition-all group-hover:mr-3 whitespace-nowrap">
          {label}
        </span>
        <span class="mr-1 transition-all group-hover:mr-0">
          <ArrowIcon />
        </span>
      </button>
    </a>
  ) : (
    <button class={clsx(styles, "whitespace-nowrap")}>{label}</button>
  )
}
