---
import TypeScript from "@/icons/TypeScript.astro";
import React from "@/icons/React.astro";

type Technology = {
  title: string;
  textColor: string;
  bgColor: string;
  icon: (_props: any) => any;
};

const TECHNOLOGIES: Record<string, Technology> = {
  typescript: {
    title: "TypeScript",
    textColor: "#D4E9FF",
    bgColor: "#155BA8",
    icon: TypeScript,
  },
  react: {
    title: "React",
    textColor: "#FFFFFF",
    bgColor: "#007C9E",
    icon: React,
  },
};

interface Props {
  tech: keyof typeof TECHNOLOGIES;
}

const { tech } = Astro.props;
const technology = TECHNOLOGIES[tech];
const Icon = technology.icon;
---

<div
  class="inline-flex select-none items-center space-x-1.5 font-semibold rounded-full py-1 px-3"
  style={{ background: technology.bgColor, color: technology.textColor }}
>
  <span class="w-5 h-5"><Icon /></span>
  <span>{technology.title}</span>
</div>
