---
import { TECHNOLOGIES } from "@/data/technologies.astro";
import clsx from "clsx";

interface Props {
  tech: keyof typeof TECHNOLOGIES;
}

const { tech } = Astro.props;
const technology = TECHNOLOGIES[tech];
const Icon = technology.icon;
---

<div
  class="inline-flex select-none bg-background-dark pr-2 text-primary items-center space-x-1.5 font-semibold rounded-full"
  style={{}}
>
  <span
    class={clsx("w-7 h-7 rounded-full")}
    style={{
      background: technology.bgColor,
      color: "white",
      padding: `${technology.padding ?? 6}px`,
    }}><Icon /></span
  >
  <span class="text-sm pb-0.5 font-serif font-normal">{technology.title}</span>
</div>
