h1,
h2,
h3,
h4,
h5 {
  font-family: "Bree Serif", serif;
}

body {
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #b5b5ff;
}
